{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
<div>
    {% if cart is empty %}
            <p colspan="3">Votre panier est vide</p>
    {% else %}
    {% set totalPrice = 0 %}
    <section>
        {% for id, item in cart %}
            <div>
                <p>{{ item.name }}</p>
                <p>Prix : {{ item.price }} €</p>
                <form method="post" action="{{ path('app_remove_from_cart', { 'id': id }) }}">
                    <button class="alert-btn" type="submit">Retirer du panier</button>
                </form>
            </div>
            {% set totalPrice = totalPrice + item.price %}
        {% endfor %}
    </section>
    <section>
        <div>
            <p><strong>TOTAL : {{ totalPrice }} €</strong></p>
        </div>
        {% endif %}
        <div>
            <button class="btn">Finaliser ma commande</button>
            <button class="btn" onclick="window.location.href='{{ path('app_courses') }}'">Continuer mes achats</button>
        </div>
</div>
{% endblock %}
