{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    <div>
        <h1>Thèmes et cursus</h1>
        <h2>Thèmes</h2>
            <ul>
            {% for theme in themes %}
                <li>{{ theme.name }}</li>
            {% endfor %}
            </ul>
        
        <h3>Cursus</h3>
            <ul>
            {% for course in courses %}
                <li>
                    <u>{{ course.theme.name }} :</u> {{ course.name }} {{ course.price }}€
                    {% if app.user %}
                        <button class="btn" onclick="window.location.href='{{ path('app_course', { 'id': course.id }) }}'">Voir</button>
                    {% endif %}
                </li>
            {% endfor %}
            </ul>
    </div>
{% endblock %}
