{% extends 'base.html.twig' %}

{% block title %}S'inscrire{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1>S'inscrire</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.name) }} <br>
        {{ form_row(registrationForm.email) }} <br>
        {{ form_row(registrationForm.plainPassword) }} <br>

        <button class="btn" type="submit" class="btn">S'inscrire</button><br><br><br>

        <div class="mb-3 text">Déjà inscrit ?
            <button class="btn" onclick="window.location.href='{{ path('app_login') }}'">Se connecter</button>
        </div>
    {{ form_end(registrationForm) }}
{% endblock %}
