{% extends 'base.html.twig' %}

{% block title %}Cursus{% endblock %}

{% block body %}
    <h1>Course</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ course.id }}</td>
            </tr>
            <tr>
                <th>Thème</th>
                <td>{{ course.theme.name }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ course.name }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ course.price }}</td>
            </tr>
        </tbody>
    </table><br>

     <button class="alert-btn" onclick="window.location.href='{{ path('app_admin_course_edit', {'id': course.id}) }}'">Modifier</button><br><br>

    {{ include('admin_course/_delete_form.html.twig') }}<br>

    <button class="btn" onclick="window.location.href='{{ path('app_admin_course_index') }}'">Retour à la liste</button>
{% endblock %}
